TWITTER_USERNAME=
TWITTER_PASSWORD=
TWITTER_EMAIL=
TWITTER_BEARER_TOKEN=
TWITTER_AUTH_TOKEN=
TWITTER_AUTHENTICATION_SECRET=
TWITTER_COOKIE=
NEXTCLOUD_DB_ROOT_PASSWORD=
NEXTCLOUD_DB_PASSWORD=
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=
